@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gym Management</h1>
    <h2 class="display-5">Updated to Part 4 (A, B and C)</h2>
    <img src="~/images/gym-home.png" alt="Gym Home Image" class="gym-home-img">
</div>
