@model GymManagement.Models.Client

<partial name="_ViewHeading" />

<hr />
@{
    var hasPicture = (Model.ClientPhoto?.Content != null);
    if (hasPicture)
    {
        @:<div>
            string imageBase64 = Convert.ToBase64String(Model.ClientPhoto.Content);
            string imageSrc = string.Format("data:" + Model.ClientPhoto.MimeType + ";base64,{0}", imageBase64);
            <img src="@imageSrc" alt="Profile Picture of @Model.Summary" 
                title="Profile Picture of @Model.Summary" class="img-fluid rounded" />
        @:</div><hr />
    }
}
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="RowVersion" />
    <div>
        @{
            if (hasPicture)
            {
                <div class="row">
                    <div class="form-check m-3">
                        <input class="form-check-input" type="checkbox" id="chkRemoveImage" name="chkRemoveImage">
                        <label class="form-check-label" for="chkRemoveImage">
                        <strong>Check to remove Image</strong>
                        </label>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label custom-file-label">Picture File:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MembershipNumber" class="control-label"></label>
                <input asp-for="MembershipNumber" class="form-control" />
                <span asp-validation-for="MembershipNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthCondition" class="control-label"></label>
                <textarea asp-for="HealthCondition" rows="3" class="form-control"></textarea>
                <span asp-validation-for="HealthCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="MembershipTypeID" class="control-label"></label>
                <select asp-for="MembershipTypeID" class="form-control" asp-items="ViewBag.MembershipTypeID"></select>
                <span asp-validation-for="MembershipTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipStartDate" class="control-label"></label>
                <input asp-for="MembershipStartDate" class="form-control" />
                <span asp-validation-for="MembershipStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipEndDate" class="control-label"></label>
                <input asp-for="MembershipEndDate" class="form-control" />
                <span asp-validation-for="MembershipEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipFee" class="control-label"></label>
                <input asp-for="MembershipFee" class="form-control" />
                <span asp-validation-for="MembershipFee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FeePaid" /> @Html.DisplayNameFor(model => model.FeePaid)
                </label>
                <span asp-validation-for="FeePaid" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
